{{^if isSecondary}}
    <!-- prepare menu with empty #navi element -->
    <ul id="navi" class="nav"></ul>
    <script>
        function toggleMenu(parent){
            if(!parent.classList.contains("open")){
                parent.classList.add("open");
            }else{
                parent.classList.remove("open");
            }
        }

        /*
         * function that generates a JSON / JS Oject from Ghost Navigation Entries
         * parses [sub][main_entry_name]Sub Entry Name syntax
         * JSON represents Menu Structure
         * Main Entry still can have an url
         */
        function nav_generator(links, label, url){
            if(label.startsWith("[sub]")){
                // create sub entry
                label = label.replace("[sub]", "");
                var closing = label.indexOf("]");
                var parent_label = label.substring(1, closing);
                label = label.slice(closing+1);
                if(typeof links[parent_label] !== 'object'){
                    // if first sub is to be appended to main,
                    // replace url string with Object that holds subs and main url
                    var main_url = links[parent_label];
                    links[parent_label] = {
                        url : main_url,
                        [label] : url
                    }
                }else{
                    // otherwise, just append the next sub
                    links[parent_label][label] = url;
                }
            }else{
                // just append a main to the menu
                links[label] = url;
            }
        }

        var links = {};
        {{#foreach navigation}}
            nav_generator(links, "{{label}}", "{{url}}");
        {{/foreach}}

        // finally create menu under #navi element
        var navi = document.getElementById("navi");
        Object.entries(links).forEach(([key, value]) => {
            var li = document.createElement("li");
            var link = document.createElement("a");
            if(typeof value === 'object'){
                // create sub ul in main li
                link.innerText = key;
                var sub = document.createElement("ul");
                {{#if @custom.navi_top_link}}
                    var top_level_link = document.createElement("a");
                    top_level_link.href = value["url"];
                    var top_level_text = document.createElement("li");
                    top_level_text.innerText = "{{@custom.navi_top_link_text}}";
                    top_level_link.appendChild(top_level_text);
                    sub.appendChild(top_level_link);
                {{/if}}

                link.setAttribute("onclick", "toggleMenu(this.parentElement)"); // only god knows why this is neccessary to keep it working.

                // creates: ul > li > a (text and link to tag), 
                //               li > ul 
                //                    > a (link to tag) > li (text of tag)
                //                    > a > li
                //                    > a > li
                Object.entries(value).forEach(([inner_key, inner_value]) => {
                    if(inner_key === "url") return;
                    var inner_li = document.createElement("li");
                    var inner_link = document.createElement("a");
                    inner_link.href = inner_value;
                    inner_li.innerText = inner_key;
                    inner_link.appendChild(inner_li);
                    sub.appendChild(inner_link);
                });
                li.appendChild(link);
                li.appendChild(sub);
            }else{
                // just append next main li
                link.innerText = key;
                link.href = value;
                li.appendChild(link);
            }
            navi.appendChild(li);
        });

    </script>
{{else}}
    {{!-- for secondary navigation (bottom of site), just use standard code from Ghost --}}
    <ul class="nav">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
{{/if}}
